<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Bonne Nouvelle</title>
</head>
<body>
    <div>
        Votre mot de passe est le suivant #mdp#
    </div>
</body>
</html>
